@page "/{credentialType?}"
@using issuer.Model
@inject HttpClient Http
@inject IConfiguration Configuration


<PageTitle>425show Verified Credentials</PageTitle>

@if (requestModel == null)
{
    <h1>Getting your credential ready...</h1>
}

@if (requestModel != null)
{
    <CredDisplay Request="@requestModel" />
}

@code {

    [Parameter]
    public string? credentialType { get; set; }

    private CredentialRequestModel? requestModel;

    protected override async Task OnInitializedAsync()
    {
        //var issuer = Configuration.GetValue<string>("IssuerApiEndpoint");
        var issuer = $"//jpda-api.ngrok.io/issuer/request/{credentialType}";
        System.Diagnostics.Debug.WriteLine($"Issuer: {issuer}");
        requestModel = await Http.GetFromJsonAsync<CredentialRequestModel>(issuer);
    }
}