<div class="row">
    <h6>Get Microsoft Authenticator at your app store.</h6>
    <div class="app-store-icon-container">
        <div>
            <a
                href='https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=en_US&gl=US&utm_source=425show&utm_campaign=did&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' src='img/google-play.png' />
            </a>
            <a
                href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458?itsct=apps_box_badge&amp;itscg=30200">
                <img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1432944000&h=39686e6a537b2c44ff7ce60f6287e68f"
                    alt="Download on the App Store" />
            </a>
        </div>
    </div>
</div>